/************************************************************************
*
*	Base Styles
*
************************************************************************/


.container {
	width: 1030px;
}



/************************************************************************
*
*	Header & Navigation
*
************************************************************************/



.main-nav {
	font-size: 0.8em;
	margin-top: 6em;	
	li {
		margin: 10px;
	}
}

.header-phone {
	font-size: 0.8em;
	right: 22px;	
}

/************************************************************************
*
*	Page Content
*
************************************************************************/



/************************************************************************
*
*	Sidebar
*
************************************************************************/




/************************************************************************
*
*	Footer
*
************************************************************************/

