/************************************************************************
*
*	Base Styles
*
************************************************************************/


.container {
	width: 1030px;
}



/************************************************************************
*
*	Header & Navigation
*
************************************************************************/



.main-nav {
	font-size: 0.8em;
	margin-top: 6em;	
	li {
		margin: 10px;
	}
}

.header-phone {
	font-size: 0.8em;
	right: 22px;	
}

/************************************************************************
*
*	Page Content
*
************************************************************************/

.hero {
	height: 26em;	
	h1 {
		font-size: 7em;
		top: 20px;
	}
}

.title-bkgnd {
	background-color: $accent-color;
	width: 440px;
	height:0;
	position: absolute;
	top: 0;
	right: 30px;
}

.hero-bkgnd {
	width: 1030px;
}

.featured {
	margin-top: 4em;
}

.featured-el {
	h2 {
		font-size: 1.8em;
		height: 52px;
		line-height: 1.8em;
	}
	h3 {
		font-size: 1.1em;
		height: 19px;
		line-height: 1.1em;
	}
	p {
		font-size: 1em;
		line-height: 1.2em;
	}
}

.colspan-three {
	width: 28%;
	margin: 0.6em;
	padding: 0.8em;
}

.page-content {
	width: 79%;
}

/************************************************************************
*
*	Sidebar
*
************************************************************************/


.sidebar {
	width: 20%;
}


/************************************************************************
*
*	Footer
*
************************************************************************/

.footer {
	margin-top: 10em;
}