/************************************************************************
*
*	Base Styles
*
************************************************************************/


.container {
	width: 1030px;
}



/************************************************************************
*
*	Header & Navigation
*
************************************************************************/



.main-nav {
	font-size: 0.8em;
	margin-top: 6em;	
	li {
		margin: 10px;
	}
}

.header-phone {
	font-size: 0.8em;
	right: 22px;	
}

/************************************************************************
*
*	Page Content
*
************************************************************************/

.hero {
	height: 26em;	
	h1 {
		font-size: 7em;
		top: 20px;
	}
}

.title-bkgnd {
	background-color: $accent-color;
	width: 440px;
	height:0;
	position: absolute;
	top: 0;
	right: 30px;
}

.hero-bkgnd {
	width: 1030px;
}

/************************************************************************
*
*	Sidebar
*
************************************************************************/




/************************************************************************
*
*	Footer
*
************************************************************************/

.footer {
	margin-top: 10em;
}