/************************************************************************
*
*	Base Styles
*
************************************************************************/


.container {
	width: 481px;
}


/************************************************************************
*
*	Header & Navigation
*
************************************************************************/

.header-logo {
	display: inline-block;
}

.header-phone {
	color: $accent-color;
	display: block;
	font-size: 0.8em;
	position: absolute;
	top: 65px;
	right: 4px;
}


/************************************************************************
*
*	Page Content
*
************************************************************************/



/************************************************************************
*
*	Sidebar
*
************************************************************************/




/************************************************************************
*
*	Footer
*
************************************************************************/

