/************************************************************************
*
*	Base Styles
*
************************************************************************/


.container {
	width: 481px;
}


/************************************************************************
*
*	Header & Navigation
*
************************************************************************/

.hero {
	display: block;
	height: 12.1875em;
	position: relative;
	h1 {
		@include text-select;
		color: #fff;
		cursor: default;	
		font-weight: 300;
		font-size: 3em;
		letter-spacing: 0;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

.header-logo {
	display: inline-block;
}

.header-phone {
	color: $accent-color;
	display: block;
	font-size: 0.8em;
	position: absolute;
	top: 65px;
	right: 4px;
}


/************************************************************************
*
*	Page Content
*
************************************************************************/

.hero-bkgnd {
	width: 481px;
}

.title-bkgnd {
	width: 200px;
}

.featured {
	margin-top: 1em;
}


/************************************************************************
*
*	Sidebar
*
************************************************************************/




/************************************************************************
*
*	Footer
*
************************************************************************/

.footer {
	margin-top: 2em;
}