/************************************************************************
*
*	Constants
*
************************************************************************/


$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Yanone Kaffeesatz', 'Open Sans', sans-serif;

$main-font-color: #121214;
$headline-font-color: #777777;
$accent-color: #174CA5;

$heavy-font-weight: 700;

$base-font-size: 1em;
$accent-font-size: 1.1em;
$header-font-size: 1.8em;

$bkgnd-color: #FFFFFF;
$bgknd-accent: #F6F4FF;
$bkgnd-dark: #121214;
$bkgnd-darker: #0C0C0C;

$border-light: #F4F4F4;
$border-mid: #EDEBF5;
$border-dark-one: #1F1F1F;
$border-dark-two: #111111;

$dropdown-width: 20em;

/************************************************************************
*
*	Base Styles
*
************************************************************************/

body {
	background: url(../images/greyzz.png) #fff repeat;
	color: $main-font-color;
	font-family: $main-font;
	font-size: $base-font-size;
	letter-spacing: 1.4px;
}

h1, h2 {
	font-size: $header-font-size;
	line-height: $header-font-size;
}

h3 {
	font-size: $accent-font-size;
	line-height: $accent-font-size;
}

.wrapper {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1030px;
}

.container-800 {
	margin: 0 auto;
	width: 800px;
}

.container-960 {
	margin: 0 auto;
	width: 960px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.center {
	margin: 0 auto;
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.light-font {
	font-weight: 300;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align: center;
}

.line-accent {
	line-height: 2em;
}

.emphasis {
	margin-top: 0.4em;
	margin-bottom: 1em;
}

.accent {
	color: $headline-font-color;
}

.logo-color {
	color: $accent-color;
}

.thin {
	font-weight: 300;
}

.large {
	font-size: 1.3em;
}

.category-headline {
	margin-top: 1.4em;
	margin-bottom: 1.4em;
	margin: 3em 0 3em 3em;
}


/************************************************************************
*
*	Header & Navigation
*
************************************************************************/


.header {
	border-bottom: 4px solid $border-light;
}

.inner-header {
	padding: 10px 0px 10px 0px;
}

.main-nav {
	font-size: 0.8em;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin-top: 6em;
	word-wrap: none;
	@include text-select;
	li {
		float: left;
		margin: 10px;
		position: relative;
		a {
			@include border-radius(3px);
			color: $accent-color;
			display: inline-block;
			font-weight: $heavy-font-weight;
			padding: 0.5em 0.8em 0.5em 0.8em;
			text-decoration: none;
		}
		a:hover {
			background-color: $accent-color;
			color: $bkgnd-color;

		}		
		ul {
			background-color: $bkgnd-color;
			position: absolute;
			text-transform: none;
			visibility: hidden;
		}
	}
	.dropdown:hover {
		a {
			@include nav-border-radius(3px);
			background-color: $accent-color;
			color: #fff;
		}
		ul {
			@include dropdown-border-radius(3px);
			background-color: $accent-color;
			overflow: hidden;
			visibility: visible;
			width: $dropdown-width;
			z-index: 10;
			li {
				margin: 0;
				width: $dropdown-width;
			}
			a {
				font-weight: 400;
				color: #ffffff;
			}
			a:hover {
				@include border-radius(0px);
				background-color: #216AE9;
				
				width: $dropdown-width;
			}
		}
	}
}


/************************************************************************
*
*	Page Content
*
************************************************************************/


.hero {
	height: 26em;
	position: relative;
	h1 {
		@include text-select;
		color: #fff;
		cursor: default;	
		font-weight: 300;
		font-size: 7em;
		letter-spacing: -5px;
		position: absolute;
		top: 20px;
		left: 0px;
	}
}

.hero-bkgnd {
	position: absolute;
	left: 0;
	top: 0;
}

.title-bkgnd {
	background-color: $accent-color;
	width: 440px;
	height:0;
	position: absolute;
	top: 0;
	right: 30px;
}

.featured {
	margin: 4em 0 2em 0;
	width: 100%;
}

.colspan-three {
	width: 28%;
	margin: 0.6em;
	padding: 0.8em;
}

.colspan-four {
	width: 24%;

}

.featured-el {
	display: inline-block;
	letter-spacing: 1px !important;
	vertical-align: top;
	p {
		line-height: 1.2em;
		margin-top: 0.8em;
		text-align:justify;
		text-justify:inter-word;
	}
}

.featured-short {
	margin-bottom: 4.2em;
}

.info-button {
	@include text-select;	
	font-size: 0.8em;
	letter-spacing: 1.4px;
	margin-top: 4em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	a {
		@include border-radius(5px);
		background-color: $accent-color;
		color: #fff;
		font-size: 0.9em;
		font-weight: 300;
		padding: 10px 30px 10px 30px;
		text-decoration: none;
		-moz-transition: background-color 0.4s;
		-webkit-transition: background-color 0.4s;
		-o-transition: background-color 0.4s;
		transition: background-color 0.4s;		
	}
	a:hover {
		background-color: #216AE9;
	}
}

.subpage {
	height: 100%;
	margin-bottom: 2em;
}

.page-content {
	width: 79%;
}

.list-heading {
	font-size: 1.3em;
	margin-top: 2em;
}

.featured-middle {
	font-size: 1em !important;
}

.category {
	h1 {
		margin: 1em;
	}
	h3 {
		text-align: center;
	}
	p {
		line-height: 1.7em;
		margin: 2em;
		text-align: justify;
	}
	a {
		color: $accent-color;
		text-decoration: none;
	}
}

.page-text {
	line-height: 1.7em;
	text-align: justify;
}

.indent {
	margin-left: 4em;
}
/************************************************************************
*
*	Sidebar
*
************************************************************************/


.sidebar {
	@include text-select;
	font-size: 0.8em;
	letter-spacing: 1.4px;
	text-transform: uppercase;	
	display: inline-block;
	width: 20%;
	ul {
		overflow: hidden;
		width: 100%;
		li {
			margin: 2em 0 2em 0;
			a {
				background-color: $accent-color;
				color: #FFFFFF;
				padding: 0.5em 10em 0.5em 1.4em;
				text-decoration: none;
				white-space: nowrap;
				-moz-transition: background-color 0.4s;
				-webkit-transition: background-color 0.4s;
				-o-transition: background-color 0.4s;
				transition: background-color 0.4s;
			}
			a:hover {
				background-color: #216AE9;
			}
		}
	}
}

.sidebar-selected {
	background-color: #216AE9 !important;
}


/************************************************************************
*
*	Footer
*
************************************************************************/


.footer {
	background-color: $bkgnd-dark;
	border-top: 4px solid $border-dark-one;
	color: #FFFFFF;
	margin-top: 10em;
	a {
		color: #ffffff;
	}

	h2 {
		font-size: 1.3em;
	}

	p {
		font-size: 0.8em;
	}
}

.inner-footer {
	background-color: inherit;
}

.footer-col {
	display: inline-block;
	padding: 1em 0 1em 0;
}
 
.copyright {
	background-color: $bkgnd-darker;
	border-top: 4px solid $border-dark-two;
}