/************************************************************************
*
*	Constants
*
************************************************************************/


$main-font: 'Open Sans', sans-serif;

$main-font-color: #777777;
$headline-font-color: #121214;

$heavy-font-weight: 700;

$base-font-size: 1em;
$accent-font-size: 1.2em;
$header-font-size: 1.8em;

$bkgnd-color: #FFFFFF;
$border-light: #F4F4F4;
$border-mid: #EDEBF5;
$bgknd-accent: #F6F4FF;
$accent-color: #174CA5;


/************************************************************************
*
*	Base Styles
*
************************************************************************/

body {
	font-family: $main-font;
	font-size: $base-font-size;
	color: $main-font-color;
}

h2 {
	color: $headline-font-color;
	font-size: $header-font-size;
	line-height: $header-font-size;
}

h3 {
	font-size: $accent-font-size;
	line-height: $accent-font-size;
}

.wrapper {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1030px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.center {
	margin: 0 auto;
}

.clear {
	clear: both;
}

.light-font {
	font-weight: 300;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.text-center {
	text-align: center;
}

/************************************************************************
*
*	Header & Navigation
*
************************************************************************/


.header {
	border-bottom: 4px solid $border-light;
}

.inner-header {
	padding: 10px 0px 10px 0px;
}

.main-nav {
	margin-top: 4em;
	a {
		@include border-radius(3px);
		color: $accent-color;
		font-weight: $heavy-font-weight;
		padding: 0.5em 0.8em 0.5em 0.8em;
		text-decoration: none;
	}
	a:hover {
		background-color: $accent-color;
		color: $bkgnd-color;
	}
	li {
		float: left;
		margin: 10px;
		padding: 0.5em 0.8em 0.5em 0.8em;
		position: relative;
		ul {
			background-color: $accent-color;
			display: none;
			position: absolute;
		}
	}
}


/************************************************************************
*
*	Page Content
*
************************************************************************/


.hero {
	background-color: $accent-color;
	height: 26em;
}

.featured {
	margin: 2em 0 2em 0;
	width: 100%;
}

.colspan-three {
	width: 28%;
	margin: 0.9em;
	padding: 0.8em;
}

.featured-el {
	@include borderbox;
	border: 1px solid $border-mid;
	background-color: $bgknd-accent;
}