/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************************************************************
*
*	Constants
*
************************************************************************/
/************************************************************************
*
*	Mixins
*
************************************************************************/
/************************************************************************
*
*	Base Styles
*
************************************************************************/
/* line 7, ../scss/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* line 11, ../scss/_base.scss */
.wrapper {
  width: 100%;
}

/* line 15, ../scss/_base.scss */
.container {
  margin: 0 auto;
  width: 1030px;
}

/* line 20, ../scss/_base.scss */
.floatleft {
  float: left;
}

/* line 24, ../scss/_base.scss */
.floatright {
  float: right;
}

/* line 28, ../scss/_base.scss */
.center {
  margin: 0 auto;
}

/************************************************************************
*
*	Header & Navigation
*
************************************************************************/
/* line 44, ../scss/_base.scss */
.inner-header {
  padding: 10px 0px 10px 0px;
}

/* line 48, ../scss/_base.scss */
.main-nav {
  margin-top: 5em;
}
/* line 50, ../scss/_base.scss */
.main-nav a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #174ca5;
  font-weight: 700;
  padding: 0.5em 0.8em 0.5em 0.8em;
  text-decoration: none;
}
/* line 57, ../scss/_base.scss */
.main-nav a:hover {
  background-color: #174ca5;
  color: white;
}
/* line 61, ../scss/_base.scss */
.main-nav li {
  float: left;
  padding: 0.5em 0.4em 0.5em 0.4em;
}
/* line 64, ../scss/_base.scss */
.main-nav li ul {
  display: none;
}
