/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************************************************************
*
*	Mixins
*
************************************************************************/
/************************************************************************
*
*	Constants
*
************************************************************************/
/************************************************************************
*
*	Base Styles
*
************************************************************************/
/* line 38, ../scss/_base.scss */
body {
  background: url(../images/greyzz.png) white repeat;
  color: #121214;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 1.4px;
}

/* line 46, ../scss/_base.scss */
h1, h2 {
  font-size: 1.8em;
  line-height: 1.8em;
}

/* line 51, ../scss/_base.scss */
h3 {
  font-size: 1.1em;
  line-height: 1.1em;
}

/* line 56, ../scss/_base.scss */
.wrapper {
  width: 100%;
}

/* line 60, ../scss/_base.scss */
.container {
  margin: 0 auto;
  min-width: 320px;
}

/* line 65, ../scss/_base.scss */
.container-800 {
  margin: 0 auto;
  width: 800px;
}

/* line 70, ../scss/_base.scss */
.container-960 {
  margin: 0 auto;
  width: 960px;
}

/* line 75, ../scss/_base.scss */
.floatleft {
  float: left;
}

/* line 79, ../scss/_base.scss */
.floatright {
  float: right;
}

/* line 83, ../scss/_base.scss */
.center {
  margin: 0 auto;
}

/* line 87, ../scss/_base.scss */
.clear {
  clear: both;
}

/* line 92, ../scss/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 97, ../scss/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 101, ../scss/_base.scss */
.clearfix {
  *zoom: 1;
}

/* line 105, ../scss/_base.scss */
.light-font {
  font-weight: 300;
}

/* line 109, ../scss/_base.scss */
.semi-bold {
  font-weight: 600;
}

/* line 113, ../scss/_base.scss */
.bold {
  font-weight: 700;
}

/* line 117, ../scss/_base.scss */
.italic {
  font-style: italic;
}

/* line 121, ../scss/_base.scss */
.text-center {
  text-align: center;
}

/* line 125, ../scss/_base.scss */
.line-accent {
  line-height: 2em;
}

/* line 129, ../scss/_base.scss */
.emphasis {
  margin-top: 0.4em;
  margin-bottom: 1em;
}

/* line 134, ../scss/_base.scss */
.accent {
  color: #777777;
}

/* line 138, ../scss/_base.scss */
.logo-color {
  color: #174ca5;
}

/* line 142, ../scss/_base.scss */
.thin {
  font-weight: 300;
}

/* line 146, ../scss/_base.scss */
.large {
  font-size: 1.3em;
}

/* line 150, ../scss/_base.scss */
.category-headline {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  margin: 3em 0 3em 3em;
}

/* line 156, ../scss/_base.scss */
.headline-small {
  font-size: 1em !important;
}

/* line 160, ../scss/_base.scss */
.top-space {
  margin-top: 6em;
}

/* line 164, ../scss/_base.scss */
.feature-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #174ca5;
  height: inherit;
  width: inherit;
}

/* line 171, ../scss/_base.scss */
.img-border {
  border: 1px solid #ccc;
  height: 416px;
  margin: 2em 0 2em 0;
  width: 800px;
}

/************************************************************************
*
*	Header & Navigation
*
************************************************************************/
/* line 185, ../scss/_base.scss */
.header {
  border-bottom: 4px solid #f4f4f4;
}

/* line 189, ../scss/_base.scss */
.header-logo {
  display: block;
  margin: 0 auto;
  width: 246px;
}

/* line 195, ../scss/_base.scss */
.inner-header {
  padding: 10px 0px 10px 0px;
  position: relative;
}

/* line 200, ../scss/_base.scss */
.header-phone {
  display: none;
}

/* line 204, ../scss/_base.scss */
.main-nav {
  display: none;
}

/************************************************************************
*
*	Page Content
*
************************************************************************/
/* line 216, ../scss/_base.scss */
.hero {
  display: none;
}

/* line 220, ../scss/_base.scss */
.hero-bkgnd {
  position: absolute;
  left: 0;
  max-width: 100%;
  min-width: 320px;
  top: 0;
}

/* line 229, ../scss/_base.scss */
.title-bkgnd {
  background-color: #174ca5;
  height: 0;
  position: absolute;
  top: 0;
  right: 30px;
}

/* line 237, ../scss/_base.scss */
.featured {
  margin: 1em;
  width: 100%;
}

/* line 242, ../scss/_base.scss */
.colspan-three {
  margin: 2em 0 2em 0;
  width: 100%;
}

/* line 247, ../scss/_base.scss */
.colspan-four {
  width: 24%;
}

/* line 252, ../scss/_base.scss */
.featured-el {
  display: inline-block;
  letter-spacing: 1px !important;
  vertical-align: top;
}
/* line 256, ../scss/_base.scss */
.featured-el h2 {
  display: block;
  vertical-align: middle;
}
/* line 260, ../scss/_base.scss */
.featured-el h3 {
  display: block;
  vertical-align: middle;
}
/* line 264, ../scss/_base.scss */
.featured-el p {
  display: block;
  line-height: 1.2em;
  margin-top: 0.8em;
  text-align: justify;
  text-justify: inter-word;
}

/* line 273, ../scss/_base.scss */
.align-left {
  text-align: left !important;
}

/* line 277, ../scss/_base.scss */
.featured-short {
  margin-bottom: 4.2em;
}

/* line 281, ../scss/_base.scss */
.info-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8em;
  letter-spacing: 1.4px;
  margin-top: 4em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
}
/* line 289, ../scss/_base.scss */
.info-button a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #174ca5;
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 302, ../scss/_base.scss */
.info-button a:hover {
  background-color: #216AE9;
}

/* line 307, ../scss/_base.scss */
.subpage {
  height: 100%;
  margin-bottom: 2em;
}

/* line 312, ../scss/_base.scss */
.page-content {
  width: 79%;
}

/* line 316, ../scss/_base.scss */
.list-heading {
  font-size: 1.3em;
  margin-top: 2em;
}

/* line 321, ../scss/_base.scss */
.featured-middle {
  font-size: 1em !important;
}

/* line 326, ../scss/_base.scss */
.category h1 {
  margin: 1em;
}
/* line 329, ../scss/_base.scss */
.category h3 {
  text-align: center;
}
/* line 332, ../scss/_base.scss */
.category p {
  line-height: 1.7em;
  margin: 2em;
  text-align: justify;
}
/* line 337, ../scss/_base.scss */
.category a {
  color: #174ca5;
  text-decoration: none;
}

/* line 343, ../scss/_base.scss */
.page-text {
  line-height: 1.7em;
  margin-top: 2em;
  text-align: justify;
}

/* line 349, ../scss/_base.scss */
.indent {
  margin-left: 4em;
}

/* line 353, ../scss/_base.scss */
#map-canvas {
  height: 320px;
  margin-top: 30px;
  width: 520px;
}

/************************************************************************
*
*	Sidebar
*
************************************************************************/
/* line 367, ../scss/_base.scss */
.sidebar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8em;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: inline-block;
  width: 20%;
}
/* line 374, ../scss/_base.scss */
.sidebar ul {
  overflow: hidden;
  width: 100%;
}
/* line 377, ../scss/_base.scss */
.sidebar ul li {
  margin: 2em 0 2em 0;
}
/* line 379, ../scss/_base.scss */
.sidebar ul li a {
  background-color: #174ca5;
  color: #FFFFFF;
  padding: 0.5em 10em 0.5em 1.4em;
  text-decoration: none;
  white-space: nowrap;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 390, ../scss/_base.scss */
.sidebar ul li a:hover {
  background-color: #216AE9;
}

/* line 397, ../scss/_base.scss */
.sidebar-selected {
  background-color: #216AE9 !important;
}

/************************************************************************
*
*	Footer
*
************************************************************************/
/* line 409, ../scss/_base.scss */
.footer {
  background-color: #121214;
  border-top: 4px solid #1f1f1f;
  color: #FFFFFF;
  margin-top: 1em;
}
/* line 414, ../scss/_base.scss */
.footer a {
  color: #ffffff;
}
/* line 418, ../scss/_base.scss */
.footer h2 {
  font-size: 1.3em;
}
/* line 422, ../scss/_base.scss */
.footer p {
  font-size: 0.8em;
}

/* line 427, ../scss/_base.scss */
.inner-footer {
  background-color: inherit;
}

/* line 431, ../scss/_base.scss */
.footer-col {
  display: inline-block;
  padding: 1em 0 1em 0;
}

/* line 436, ../scss/_base.scss */
.copyright {
  background-color: #0c0c0c;
  border-top: 4px solid #111111;
}

@media only screen and (min-width: 481px) {
  /************************************************************************
  *
  *	Base Styles
  *
  ************************************************************************/
  /* line 8, ../scss/_481up.scss */
  .container {
    width: 481px;
  }

  /************************************************************************
  *
  *	Header & Navigation
  *
  ************************************************************************/
  /* line 19, ../scss/_481up.scss */
  .hero {
    display: block;
    height: 12.1875em;
    position: relative;
  }
  /* line 23, ../scss/_481up.scss */
  .hero h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    cursor: default;
    font-weight: 300;
    font-size: 3em;
    letter-spacing: 0;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  /* line 36, ../scss/_481up.scss */
  .header-logo {
    display: inline-block;
  }

  /* line 40, ../scss/_481up.scss */
  .header-phone {
    color: #174ca5;
    display: block;
    font-size: 0.8em;
    position: absolute;
    top: 65px;
    right: 4px;
  }

  /************************************************************************
  *
  *	Page Content
  *
  ************************************************************************/
  /* line 56, ../scss/_481up.scss */
  .hero-bkgnd {
    width: 481px;
  }

  /* line 60, ../scss/_481up.scss */
  .title-bkgnd {
    width: 200px;
  }

  /* line 64, ../scss/_481up.scss */
  .featured {
    margin-top: 1em;
  }

  /************************************************************************
  *
  *	Sidebar
  *
  ************************************************************************/
  /************************************************************************
  *
  *	Footer
  *
  ************************************************************************/
  /* line 83, ../scss/_481up.scss */
  .footer {
    margin-top: 2em;
  }
}
@media only screen and (min-width: 768px) {
  /************************************************************************
  *
  *	Base Styles
  *
  ************************************************************************/
  /* line 8, ../scss/_768up.scss */
  .container {
    width: 768px;
  }

  /************************************************************************
  *
  *	Header & Navigation
  *
  ************************************************************************/
  /* line 21, ../scss/_768up.scss */
  .main-nav {
    display: block;
    font-size: 0.7em;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 8em;
    word-wrap: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* line 29, ../scss/_768up.scss */
  .main-nav li {
    float: left;
    position: relative;
  }
  /* line 32, ../scss/_768up.scss */
  .main-nav li a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #174ca5;
    display: inline-block;
    font-weight: 700;
    padding: 0.5em 0.8em 0.5em 0.8em;
    text-decoration: none;
  }
  /* line 40, ../scss/_768up.scss */
  .main-nav li a:hover {
    background-color: #174ca5;
    color: white;
  }
  /* line 45, ../scss/_768up.scss */
  .main-nav li ul {
    background-color: white;
    position: absolute;
    text-transform: none;
    visibility: hidden;
  }
  /* line 53, ../scss/_768up.scss */
  .main-nav .dropdown:hover a {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #174ca5;
    color: #fff;
  }
  /* line 58, ../scss/_768up.scss */
  .main-nav .dropdown:hover ul {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #174ca5;
    overflow: hidden;
    visibility: visible;
    width: 20em;
    z-index: 10;
  }
  /* line 65, ../scss/_768up.scss */
  .main-nav .dropdown:hover ul li {
    margin: 0;
    width: 20em;
  }
  /* line 69, ../scss/_768up.scss */
  .main-nav .dropdown:hover ul a {
    font-weight: 400;
    color: #ffffff;
  }
  /* line 73, ../scss/_768up.scss */
  .main-nav .dropdown:hover ul a:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #216AE9;
    width: 20em;
  }

  /* line 83, ../scss/_768up.scss */
  .header-phone {
    font-size: 0.7em;
    right: 10px;
    top: 45px;
  }

  /************************************************************************
  *
  *	Page Content
  *
  ************************************************************************/
  /* line 95, ../scss/_768up.scss */
  .hero {
    height: 19.4375em;
  }
  /* line 97, ../scss/_768up.scss */
  .hero h1 {
    font-size: 5em;
    letter-spacing: -5px;
    top: 15px;
  }

  /* line 104, ../scss/_768up.scss */
  .hero-bkgnd {
    width: 768px;
  }

  /* line 108, ../scss/_768up.scss */
  .title-bkgnd {
    width: 300px;
  }

  /* line 112, ../scss/_768up.scss */
  .featured {
    margin-top: 3em;
  }

  /* line 117, ../scss/_768up.scss */
  .featured-el h2 {
    font-size: 1.6em;
    height: 41px;
    line-height: 1.6em;
  }
  /* line 122, ../scss/_768up.scss */
  .featured-el h3 {
    font-size: 1em;
    height: 30px;
    line-height: 1em;
  }
  /* line 127, ../scss/_768up.scss */
  .featured-el p {
    font-size: 0.9em;
    height: 90px;
    line-height: 1.2em;
  }

  /* line 134, ../scss/_768up.scss */
  .colspan-three {
    width: 30%;
    margin: 0.3em;
    padding: 0.2em;
  }

  /************************************************************************
  *
  *	Sidebar
  *
  ************************************************************************/
  /************************************************************************
  *
  *	Footer
  *
  ************************************************************************/
  /* line 157, ../scss/_768up.scss */
  .footer {
    margin-top: 7em;
  }
}
@media only screen and (min-width: 1030px) {
  /************************************************************************
  *
  *	Base Styles
  *
  ************************************************************************/
  /* line 8, ../scss/_1030up.scss */
  .container {
    width: 1030px;
  }

  /************************************************************************
  *
  *	Header & Navigation
  *
  ************************************************************************/
  /* line 22, ../scss/_1030up.scss */
  .main-nav {
    font-size: 0.8em;
    margin-top: 6em;
  }
  /* line 25, ../scss/_1030up.scss */
  .main-nav li {
    margin: 10px;
  }

  /* line 30, ../scss/_1030up.scss */
  .header-phone {
    font-size: 0.8em;
    right: 22px;
  }

  /************************************************************************
  *
  *	Page Content
  *
  ************************************************************************/
  /* line 41, ../scss/_1030up.scss */
  .hero {
    height: 26em;
  }
  /* line 43, ../scss/_1030up.scss */
  .hero h1 {
    font-size: 7em;
    top: 20px;
  }

  /* line 49, ../scss/_1030up.scss */
  .title-bkgnd {
    background-color: #174ca5;
    width: 440px;
    height: 0;
    position: absolute;
    top: 0;
    right: 30px;
  }

  /* line 58, ../scss/_1030up.scss */
  .hero-bkgnd {
    width: 1030px;
  }

  /* line 62, ../scss/_1030up.scss */
  .featured {
    margin-top: 4em;
  }

  /* line 67, ../scss/_1030up.scss */
  .featured-el h2 {
    font-size: 1.8em;
    height: 52px;
    line-height: 1.8em;
  }
  /* line 72, ../scss/_1030up.scss */
  .featured-el h3 {
    font-size: 1.1em;
    height: 19px;
    line-height: 1.1em;
  }
  /* line 77, ../scss/_1030up.scss */
  .featured-el p {
    font-size: 1em;
    line-height: 1.2em;
  }

  /* line 83, ../scss/_1030up.scss */
  .colspan-three {
    width: 28%;
    margin: 0.6em;
    padding: 0.8em;
  }

  /************************************************************************
  *
  *	Sidebar
  *
  ************************************************************************/
  /************************************************************************
  *
  *	Footer
  *
  ************************************************************************/
  /* line 104, ../scss/_1030up.scss */
  .footer {
    margin-top: 10em;
  }
}
