/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************************************************************
*
*	Mixins
*
************************************************************************/
/************************************************************************
*
*	Constants
*
************************************************************************/
/************************************************************************
*
*	Base Styles
*
************************************************************************/
/* line 38, ../scss/_base.scss */
body {
  background: url(../images/greyzz.png) white repeat;
  color: #121214;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* line 45, ../scss/_base.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.8em;
}

/* line 50, ../scss/_base.scss */
h3 {
  color: #777777;
  font-size: 1.1em;
  line-height: 1.1em;
}

/* line 56, ../scss/_base.scss */
.wrapper {
  width: 100%;
}

/* line 60, ../scss/_base.scss */
.container {
  margin: 0 auto;
  width: 1030px;
}

/* line 65, ../scss/_base.scss */
.floatleft {
  float: left;
}

/* line 69, ../scss/_base.scss */
.floatright {
  float: right;
}

/* line 73, ../scss/_base.scss */
.center {
  margin: 0 auto;
}

/* line 77, ../scss/_base.scss */
.clear {
  clear: both;
}

/* line 81, ../scss/_base.scss */
.light-font {
  font-weight: 300;
}

/* line 85, ../scss/_base.scss */
.semi-bold {
  font-weight: 600;
}

/* line 89, ../scss/_base.scss */
.bold {
  font-weight: 700;
}

/* line 93, ../scss/_base.scss */
.italic {
  font-style: italic;
}

/* line 97, ../scss/_base.scss */
.text-center {
  text-align: center;
}

/* line 101, ../scss/_base.scss */
.line-accent {
  line-height: 2em;
}

/************************************************************************
*
*	Header & Navigation
*
************************************************************************/
/* line 112, ../scss/_base.scss */
.header {
  border-bottom: 4px solid #f4f4f4;
}

/* line 116, ../scss/_base.scss */
.inner-header {
  padding: 10px 0px 10px 0px;
}

/* line 120, ../scss/_base.scss */
.main-nav {
  margin-top: 4em;
}
/* line 122, ../scss/_base.scss */
.main-nav li {
  float: left;
  margin: 10px;
  position: relative;
}
/* line 126, ../scss/_base.scss */
.main-nav li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #174ca5;
  display: inline-block;
  font-weight: 700;
  padding: 0.5em 0.8em 0.5em 0.8em;
  text-decoration: none;
}
/* line 134, ../scss/_base.scss */
.main-nav li a:hover {
  background-color: #174ca5;
  color: white;
}
/* line 139, ../scss/_base.scss */
.main-nav li ul {
  background-color: white;
  position: absolute;
  visibility: hidden;
}
/* line 146, ../scss/_base.scss */
.main-nav .dropdown:hover a {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 149, ../scss/_base.scss */
.main-nav .dropdown:hover ul {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  visibility: visible;
  width: 13em;
}
/* line 154, ../scss/_base.scss */
.main-nav .dropdown:hover ul li {
  margin: 0;
  width: 13em;
}
/* line 158, ../scss/_base.scss */
.main-nav .dropdown:hover ul a {
  color: #174ca5;
}
/* line 161, ../scss/_base.scss */
.main-nav .dropdown:hover ul a:hover {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: white;
  width: 13em;
}

/************************************************************************
*
*	Page Content
*
************************************************************************/
/* line 178, ../scss/_base.scss */
.hero {
  background-color: #174ca5;
  height: 26em;
}

/* line 183, ../scss/_base.scss */
.featured {
  margin: 2em 0 2em 0;
  width: 100%;
}

/* line 188, ../scss/_base.scss */
.colspan-three {
  width: 28%;
  margin: 0.6em;
  padding: 0.8em;
}

/* line 194, ../scss/_base.scss */
.colspan-four {
  width: 24%;
}

/* line 199, ../scss/_base.scss */
.featured-el {
  display: inline-block;
}
/* line 201, ../scss/_base.scss */
.featured-el p {
  line-height: 1.2em;
  margin-top: 0.8em;
  text-align: justify;
  text-justify: inter-word;
}

/* line 209, ../scss/_base.scss */
.emphasis {
  margin-top: 0.4em;
  margin-bottom: 1em;
}

/************************************************************************
*
*	Footer
*
************************************************************************/
/* line 222, ../scss/_base.scss */
.footer {
  background-color: #121214;
  border-top: 4px solid #1f1f1f;
  color: #FFFFFF;
}
/* line 226, ../scss/_base.scss */
.footer a {
  color: #ffffff;
}

/* line 231, ../scss/_base.scss */
.inner-footer {
  background-color: inherit;
}

/* line 235, ../scss/_base.scss */
.footer-col {
  display: inline-block;
  padding: 1em 0 1em 0;
}

/* line 240, ../scss/_base.scss */
.copyright {
  background-color: #0c0c0c;
  border-top: 4px solid #111111;
}
